.lauf-Gelb {
    color: #EBDF27;
} 
.lauf-hellblau {
    color: #9E9EEC;
}
.lauf-dunkelblau {
    color: #2E1A75;
}

html { 
    height:100%;
}
body { 
    min-height:100vh;
    display:inline;
}

h2 {
    font-family: Arial, sans-serif;
    text-decoration: underline;
    color: #9E9EEC;
    margin-bottom: 2rem;
    font-weight: bold;
}

h5 {
    font-family: Arial, sans-serif;
    color: #EBDF27;
}

p {
    color: var(--bs-secondary);
    font-family: Arial, sans-serif;
}

.title-img {
    min-width: 200px !important;
    width:50%;
    height: auto;
}

.img-height {
    min-height: 200px !important;
    max-width: 100%;
}

.medal-img {
    min-width: 200px !important;
    width:50%;
    height: auto;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color:black;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    background-color:#9E9EEC;
}

.btn {
    background-color: #9E9EEC;
    border-radius: 19px;
    border:none;
}

.btn:hover {
    background-color: #EBDF27;
}

.footer-content {
    background-color: #2E1A75;
}

.title-bar {
    background-color:#2E1A75;
    font-weight: bold;
    font-size:x-large;
    color: #EBDF27;
}

.title-nav-item {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#9E9EEC;
    font-weight: bold;
}

.title-nav-item:hover {
    color:#EBDF27;
}

.title-nav-link {
    font-family: Arial, sans-serif;
    font-size: 2em;
}